
/*UI MOCKUP CSS*/

/*lets try and get the SVG files wortking */
*{
  -fx-font-family: "Lucida Console", "Helvetica", "Arial";
  -fx-text-fill: #17263d;
}

.toolbar{
  -fx-background-color: white;
  -fx-border-width: 0 1 0 0;
  -fx-border-color: lightgrey;

}

.buttonStyle{
  -fx-background-color: #4A77DD;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
  -fx-text-fill: white;
}

.buttonStyle:hover{
  -fx-background-color:rgb(23, 58, 141);
}

.searchButtonStyle{
  -fx-background-color: #f5f7fa;
  -fx-text-fill: black;
}

.changeColorButton{
  -fx-background-color: none;
  -fx-text-fill: #4A77DD;
  -fx-border-color: #4A77DD ;
  -fx-border-width: 3;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 0, 0.0 , 0 , 0 );
}

.largeBorderRadius{
  -fx-border-width: 3;
  -fx-background-radius: 40;
  -fx-border-radius:40;
}

.changeColorButton:hover{
  -fx-background-color: #4A77DD;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
  -fx-text-fill: white;

}

.topbar{
  -fx-background-color: white;
}

.ttbtitle{
  -fx-font-size: 36px;
  -fx-fill: white;
}
.ttbsubtitle{
  -fx-font-size: 12px;
  -fx-fill: white;
}

.navheader{
  -fx-background-color: #4A77DD;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.backPane{
  -fx-background-color: #f5f7fa;
}

.card{
  -fx-background-color: white;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
  -fx-background-radius: 30 30 30 30;
}

.searchContainer{
  -fx-background-color: white;
  -fx-background-radius: 80px;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

.card:hover{
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 8, 0.0 , 0 , 1 );

}

.labeltext{
  -fx-text-fill: #17263d;
  -fx-font-size: 12px;
}

.searchfield{
  -fx-background-color: white;
  -fx-border-color: #d5ddeb ;
  -fx-border-width: 0;
  -fx-background-radius: 5 5 5 5;
  -fx-border-radius:5 5 5 5;
}

.formstatuspill{
  -fx-border-width: 3;
  -fx-background-radius: 20 20 20 20;
  -fx-border-radius:20 20 20 20;
}

.cardtext{
  -fx-font-size: 24;
}

.pendingstatus{
  -fx-background-color: #fbf8e1;
  -fx-border-color: #fdefc1;
  -fx-text-fill: #643018;

}

.acceptstatus{
  -fx-background-color: #e4f7ef;
  -fx-border-color: #c9e9dc;
  -fx-text-fill: #204834;

}

.denystatus{
  -fx-background-color: #fcedec;
  -fx-border-color: #f9e4e3;
  -fx-text-fill: #521511;

}



.textfield{
  -fx-background-color: white;
  -fx-border-color: #d5ddeb ;
  -fx-border-width: 1;
  -fx-background-radius: 5 5 5 5;
  -fx-border-radius:5 5 5 5;
}


.h1{
  -fx-font-size: 20px;
}

.h2{
  -fx-font-size: 16px;
}

.checkbox{

}

.radiobutton{

}

.scrollpane{
  -fx-background-color: #f5f7fa;

}